{sub_dirs, ["sbin", "priv"]}.
{lib_dirs, ["deps"]}.
{deps, [
	{erlcql, ".*", {git, "https://github.com/rpt/erlcql.git"}},
	{eunit, ".*", {git, "https://github.com/richcarl/eunit.git"}}
]}.
{eunit_opts, [verbose, {report,{eunit_surefire,[{dir,"."}]}}]}.
{cover_enabled, true}.
{cover_export_enabled, true}.
